.sidebar {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  transform: translateX(calc(-100% + 70px));
  margin-left: -6rem;
  transition: 0.4s;
}

.sidebar_visible {
  transform: none;
}

.bg {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -2;
}

.planet_big {
  position: absolute;
  height: 80vh;
  right: -20rem;
  top: 8rem;
}

.planet_small {
  position: absolute;
  height: 50vh;
  left: -2rem;
  bottom: -7rem;
}

.form {
  display: flex;
  transition: 0.2s;
}

.arrow_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: var(--dark-transparent-background);
  border-radius: 0 20rem 20rem 0;
  transition: 0.2s;
  cursor: pointer;
}

.arrow_wrapper:hover {
  background-color: rgba(60, 60, 60, 0.7);
}

.arrow {
  width: 4rem;
  transition: 0.1s;
}

.sidebar_visible .arrow {
  transform: rotate(-180deg);
}

.planet_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--dark-transparent-background);
  transition: 0.2s;
}

.arrow_wrapper,
.planet_list {
  padding: 1.5rem;
}

.planet_item {
  opacity: 0;
  display: flex;
  gap: 2rem;
  align-items: end;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
}

.sidebar .planet_list :nth-child(1) {
  animation: planet-item-disappearance 0.3s;
}

.sidebar .planet_list :nth-child(2) {
  animation: planet-item-disappearance 0.3s;
}

.sidebar .planet_list :nth-child(3) {
  animation: planet-item-disappearance 0.3s;
}

.sidebar_visible .planet_list :nth-child(1) {
  animation:
    planet-item-appear 0.3s 0.1s forwards,
    animatePlanet 10s linear infinite paused;
}

.sidebar_visible .planet_list :nth-child(2) {
  animation: planet-item-appear 0.3s 0.2s forwards;
}

.sidebar_visible .planet_list :nth-child(3) {
  animation: planet-item-appear 0.3s 0.3s forwards;
}

.planet {
  appearance: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  filter: grayscale(1);
  animation: animatePlanet 10s linear infinite paused both;
  box-shadow: inset 0 0 0.7rem 0.7rem rgba(0, 0, 0, 1);
  transition: 0.2s;
  cursor: pointer;
}

.venus {
  background-image: url('../../../assets/img/planets/venusSmall.jpg');
  &:checked,
  &:hover {
    box-shadow:
      inset 0 0 0.7rem 0.7rem rgba(0, 0, 0, 1),
      0 0 1rem 0.1rem var(--venus-color);
  }
}

.earth {
  background-image: url('../../../assets/img/planets/earthSmall.webp');
  &:checked,
  &:hover {
    box-shadow:
      inset 0 0 0.7rem 0.7rem rgba(0, 0, 0, 1),
      0 0 1rem 0.1rem var(--earth-color);
  }
}

.mars {
  background-image: url('../../../assets/img/planets/marsSmall.jpg');
  &:checked,
  &:hover {
    box-shadow:
      inset 0 0 0.7rem 0.7rem rgba(0, 0, 0, 1),
      0 0 1rem 0.1rem var(--mars-color);
  }
}

.planet_item:hover .planet {
  filter: grayscale(0);
  animation-play-state: running;
}

.planet_item .mars:checked,
.planet_item .venus:checked,
.planet_item .earth:checked {
  filter: grayscale(0);
  animation-play-state: running;
}

.planet:checked {
  scale: 1.1;
}

@keyframes animatePlanet {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 12rem;
  }
}

@keyframes planet-item-appear {
  from {
    opacity: 0;
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

@keyframes planet-item-disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
