.burger_button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.burger_button img {
  width: 30px;
  height: 30px;
}

@media (max-width: 576px) {
  .burger_button {
    display: block;
  }
}
