.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: var(--dark-transparent-background); */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: var(--header-height) 1rem 0 16rem;
}

.modal_content {
  display: flex;
  justify-content: center;
  width: 70vw;
  margin: auto;
  position: relative;
  background: black;
  padding: 20px;
  border-radius: 1rem;
  border: 2px solid var(--accent-color);
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.enlarged_image {
  width: 90%;
  height: 90%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
}
