.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

.error_message,
.empty_message {
  margin-top: 2rem;
  text-align: center;
}

.cart_content {
  position: relative;
}

.products_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 80%;
  margin-top: 2rem;
}

.cart_total {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 20%;
  height: 100%;
  padding: 2rem;
  background-color: var(--dark-transparent-background);
  backdrop-filter: blur(0.5rem);
}

@media screen and (max-width: 640px) {
  .products_wrapper {
    gap: 4rem;
  }
}
