.button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  margin-top: 10px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  box-shadow: inset 0 0 0 3px #00aeff;
  border: 2px solid rgb(45, 45, 255);
  font-family: Megatrans;
  font-size: 1.6rem;
  padding: 5px 40px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.underline {
  font-weight: bold;
}

.button::after,
.button::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(90deg);
  background-color: rgb(45, 45, 255);
  transition:
    0.4s background-color,
    0.1s transform;
}

.button::after {
  left: 7px;
  transform: rotate(-90deg);
}

.button::before {
  right: 7px;
  transform: rotate(90deg);
}

.button:hover::after {
  transform: rotate(90deg);
  animation: leftArrowAnimation 0.4s infinite linear alternate;
  background-color: rgb(0, 228, 0);
}

.button:hover::before {
  transform: rotate(-90deg);
  animation: rightArrowAnimation 0.4s infinite linear alternate;
  background-color: rgb(0, 228, 0);
}

.button:hover {
  box-shadow: inset 0 0 5px 1px rgb(0, 228, 0);
  border: 2px solid rgb(0, 228, 0);
  clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0% 80%, 0% 20%);
}

.button:hover .underline {
  opacity: 1;
  animation: underlineAnimation 0.8s infinite;
}

@keyframes underlineAnimation {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leftArrowAnimation {
  from {
    left: 7px;
  }
  to {
    left: 14px;
  }
}

@keyframes rightArrowAnimation {
  from {
    right: 7px;
  }
  to {
    right: 14px;
  }
}
