.product_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(30rem, 32%, 40rem);
  height: calc((100dvh - var(--header-height) - 4.2rem) / 2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: var(--main-font);
  font-weight: 200;
  transition: 0.3s;
  cursor: pointer;
}

.product_image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product_info_wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--header-background);
}

.product_name {
  font-size: 2rem;
  font-weight: 200;
}

.product_price {
  color: var(--accent-color);
}

.discount_price {
  background-color: var(--accent-color);
  max-width: max-content;
}

.crossed_price {
  position: relative;
  background-color: transparent;
  max-width: max-content;
}

.crossed_price::before {
  position: absolute;
  content: '';
  background-color: var(--accent-color);
  height: 2px;
  width: 100%;
  top: 50%;
}

.product_desc {
  position: absolute;
  opacity: 0;
  height: 100%;
  font-size: 1.4rem;
  background-color: transparent;
  transition: all ease-in 300ms;
}

.product_card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.product_card:has(.discount_price):hover {
  box-shadow: 0 0 15px 2px var(--accent-color);
}

.product_card:hover .product_desc {
  opacity: 1;
  background-color: var(--header-background);
}
